$light-blue: hsla(178, 60%, 48%, 1);
$light-blue-hover: hsla(178, 76%, 66%, 1);
$light-yellow: hsla(39, 88%, 58%, 1);
$light-yellow-hover: hsla(39, 100%, 69%, 1);
$dark-navy: hsla(200, 32%, 15%, 1);
$semi-dark-navy: hsla(200, 35%, 19%, 1);
$silver: hsla(199, 24%, 73%, 1);
$silver-hover: hsla(198, 35%, 89%, 1);

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-box {
  display: flex;
  justify-content: center;
  column-gap: 8.3px;
  margin-bottom: 40px;
}

.new-game-container {
  max-width: 460px;
  width: 100%;
}

.logo {
  width: 36px;
  height: 36px;
}

.mark-picker {
  background: config.$semi-dark-navy;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  padding: 24px;
  margin-bottom: 40px;
}

.header-text {
  @extend %extra-small-heading;
  margin-bottom: 24px;
  color: config.$silver;
}

.mark-group {
  display: flex;
  gap: 9px;
  background: config.$dark-navy;
  padding: 9px;
  border-radius: 10px;
  margin-bottom: 17px;
}

.icon-pick {
  width: 32px;
  height: 32px;
  color: config.$dark-navy;
  // filter: invert(90%) sepia(13%) saturate(330%) hue-rotate(153deg)
  //   brightness(81%) contrast(93%);
}
.icon-pick-active {
  // background-color: config.$dark-navy;
}

.mark {
  width: 100%;
  border-radius: 10px;
  padding: 11px;
}

.mark-active {
  background: config.$silver;
}

.sub-header-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.875px;
  color: config.$silver;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 6px;
}

.cpu-btn {
  @include button($color: config.$light-yellow, $color2: #cc8b13);
}

.player-btn {
  @include button($color: config.$light-blue, $color2: #118c87);
}
