@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$light-blue: hsla(178, 60%, 48%, 1);
$light-blue-hover: hsla(178, 76%, 66%, 1);
$light-yellow: hsla(39, 88%, 58%, 1);
$light-yellow-hover: hsla(39, 100%, 69%, 1);
$dark-navy: hsla(200, 32%, 15%, 1);
$semi-dark-navy: hsla(200, 35%, 19%, 1);
$silver: hsla(199, 24%, 73%, 1);
$silver-hover: hsla(198, 35%, 89%, 1);

html {
  font-family: 'Outfit', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: $dark-navy;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/*
  Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

@mixin large-text {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 2.5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.new-game-container {
  width: 460px;
  height: 471px;
  border: 2px solid white;
}
